body {
    background-color: rgb(250, 209, 149);

}

body img, svg {
    text-align: center;
}

.container {
    display: flex;
}

.container div {
    margin: .5em;
    padding: 1em;
}

.container div a {
    color: rgb(90, 57, 109);
    text-decoration: none;
}

.container div a:hover {
    color: rgb(0, 0, 0);
}

h1 {
    text-align: left;
  }

h2 {
    text-align: center;
}
